### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
dat = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [38]:
# Player count
from collections import Counter
x1 = dat.iloc[:, 1]
#print(x1)

leng = len(Counter(x1).keys())
print("Total players: ",leng)

Total players:  576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
#Purchasing Analysis (Total)
x4 = dat.iloc[:, 4]
x0 = dat.iloc[:, 0]
x6 = dat.iloc[:, 6]

y4 = len(Counter(x4).keys()) #Number of unique items
y6 = sum(Counter(x6).keys()) / len(Counter(x6).keys()) #Avg price
y6 = round(y6, 2)
y0 = len(Counter(x0).keys()) #Number of purchases
w6 = sum(x6) #revenue
#print(w6)

data = [[y4, y6, y0, w6]]
df = pd.DataFrame(data,columns=['Number of unique items','AveragePrice', 'Number of Purchases', 'Total Revenue'])
df

   Number of unique items  AveragePrice  Number of Purchases  Total Revenue
0                     183          3.03                  780        2379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
#Gender Demographics
x3=dat.iloc[:,3]
#print(Counter(x3).values())

g1 = 0
g2 = 0
g3 = 0
for i in x3:
    if (i == 'Male'):
        g1 += 1
    elif (i == 'Female'):
        g2 += 1
    else :
        g3 += 1
g4 = g1 * 100 / (g1 + g2 + g3)
g4 = round(g4, 2)
g5 = g2 * 100 / (g1 + g2 + g3)
g5 = round(g5, 2)
g6 = g3 * 100 / (g1 + g2 + g3)
g6 = round(g6, 2)

data1 = [['Males',g4,g1], ['Females',g5,g2], ['Other',g6,g3]]
df1 = pd.DataFrame(data1, columns = ['Gender','Percentage of Players','Total Count'])
de = df1.sort_values(['Gender'])
df1

    Gender  Percentage of Players  Total Count
0    Males                  83.59          652
1  Females                  14.49          113
2    Other                   1.92           15

                       Percentage of Players  Total Count
Male                                  113.19          652
Female                                 19.62          113
Other / Non-Disclosed                   2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [41]:
#Purchasing Analysis (Gender)
l1 = []
l2 = [0] * 3 # Total
l3 = [0] * 3 # Purchase Count
l4 = [0] * 3 # Average Purchase Price

for index, row in dat.iterrows():
    if(row['Gender'] not in l1):
        l1.append(row['Gender'])
        
    l2[l1.index(row['Gender'])] += row['Price']
    l3[l1.index(row['Gender'])] += 1
    
for i in range(0, 3):
    l4[i] = l2[i] / l3[i]
    l4[i] = round(l4[i], 2)
    l2[i] = round(l2[i], 2)
    l2[i] = '$' + str(l2[i])
    l4[i] = '$' + str(l4[i])
    
dg =  pd.DataFrame(list(zip(l1, l3, l4, l2, l4)), columns = ['Gender','Purchase Count','Avgerage Purchase Price','Total Purchase Value','Normalized Totals'])
de = dg.sort_values(['Gender'])
dg

,Gender,Purchase Count,Avgerage Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,$3.02,$1967.64,$3.02
1,Other / Non-Disclosed,15,$3.35,$50.19,$3.35
2,Female,113,$3.2,$361.94,$3.2

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

x2 = dat.iloc[:, 2]
s = dat.groupby(pd.cut(dat['Age'], bins = age_bins, labels = group_names)).size()
s

Age
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
dtype: int64

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

       Percentage of Players  Total Count
<10                     3.99           23
10-14                   4.86           28
15-19                  23.61          136
20-24                  63.37          365
25-29                  17.53          101
30-34                  12.67           73
35-39                   7.12           41
40+                     2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [43]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

dat = dat.assign(Binns=pd.cut(dat['Age'], bins=age_bins,labels=group_names))

x7 = dat.iloc[:, 7]
leng = len(Counter(x7).keys())
l1 = []
l2 = [0] * leng
l3 = [0] * leng
l4 = [0] * leng

for index, row in dat.iterrows():
    if(row['Binns'] not in l1):
        l1.append(row['Binns'])
    l2[l1.index(row['Binns'])] += row ['Price']
    l3[l1.index(row['Binns'])] += 1
    
for i in range(0,leng):
    l4[i]=l2[i]/l3[i]
    l2[i]=round(l2[i], 2)
    l4[i]=round(l4[i], 2)
    l4[i]='$'+str(l4[i])
    l2[i]='$'+str(l2[i])
    
dg =  pd.DataFrame(list(zip(l1,l3,l4,l2,l4)),columns = ['Bin','Purchase Count','Avg Purchase Price','Total Purchase Value','Normalized Totals'])
de = dg.sort_values(['Bin'])
dg

,Bin,Purchase Count,Avg Purchase Price,Total Purchase Value,Normalized Totals
0,20-24,365,$3.05,$1114.06,$3.05
1,40+,13,$2.94,$38.24,$2.94
2,35-39,41,$3.6,$147.67,$3.6
3,30-34,73,$2.93,$214.0,$2.93
4,25-29,101,$2.9,$293.0,$2.9
5,10-14,28,$2.96,$82.78,$2.96
6,<10,23,$3.35,$77.13,$3.35
7,15-19,136,$3.04,$412.89,$3.04

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
#Top Spenders
leng = len(Counter(x1).keys())
l1 = []
l2 = [0] * leng
l3 = [0] * leng
l4 = [0] * leng
l5 = [''] * leng

for index, row in dat.iterrows():
    if(row['SN'] not in l1):
        l1.append(row['SN'])
    l2[l1.index(row['SN'])] += row['Price']
    l3[l1.index(row['SN'])] += 1
    
for i in range(0, leng):
    l4[i] = l2[i] / l3[i]
    l4[i] = round(l4[i], 2)
    l2[i] = round(l2[i], 2)
    l4[i] = '$' + str(l4[i])
    l5[i] = '$' + str(l2[i])
    
dg =  pd.DataFrame(list(zip(l1,l3,l4,l5,l2)),columns=['SN','Purchases Count','Average Purchase Price','Total Purchase Value','x'])
de = dg.sort_values(['x'],ascending=False)
dx = de.iloc[:,:4]
print(dx.head(5))
#dg

              SN  Purchases Count Average Purchase Price Total Purchase Value
72     Lisosia93                5                  $3.79               $18.96
253  Idastidru52                4                  $3.86               $15.45
201   Chamjask73                3                  $4.61               $13.83
120       Iral74                4                   $3.4               $13.62
134  Iskadarya95                3                  $4.37                $13.1

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
#Most Popular Items
l1 = []
l2 = []
l3 = []
l4 = [0] * y4
l5 = [0] * y4
l6 = [''] * y4

for index, row in dat.iterrows():
    if(row['Item ID'] not in l2):
        l1.append(row['Item Name'])
        l2.append(row['Item ID'])
        l3.append(row['Price'])
    l4[l2.index(row['Item ID'])]+=1

for i in range(y4):
    l5[i] = l4[i]*l3[i]
    l5[i] = round(l5[i],2)
    l3[i] = round(l3[i],2)
    l3[i] = '$'+str(l3[i])
    l6[i] = '$'+str(l5[i])
    
dg =  pd.DataFrame(list(zip(l2,l1,l4,l3,l6,l5)),columns=['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purchase Value','x'])
de = dg.sort_values(['Purchase Count'], ascending=False)
ds = de.iloc[:,:5]
print(ds.head(5))
#dg

     Item ID                                     Item Name  Purchase Count  \
24       178  Oathbreaker, Last Hope of the Breaking Storm              12
0        108     Extraction, Quickblade Of Trembling Hands               9
17        82                                       Nirvana               9
94       145                          Fiery Glass Crusader               9
134       19                 Pursuit, Cudgel of Necromancy               8

     Price Total Purchase Value
24   $4.23               $50.76
0    $3.53               $31.77
17    $4.9                $44.1
94   $4.58               $41.22
134  $1.02                $8.16

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
de= dg.sort_values(['x'],ascending=False)
ds = de.iloc[:,:5]
print(ds.head(5))
#ds

     Item ID                                     Item Name  Purchase Count  \
24       178  Oathbreaker, Last Hope of the Breaking Storm              12
17        82                                       Nirvana               9
94       145                          Fiery Glass Crusader               9
2         92                                  Final Critic               8
112      103                                Singed Scalpel               8

     Price Total Purchase Value
24   $4.23               $50.76
17    $4.9                $44.1
94   $4.58               $41.22
2    $4.88               $39.04
112  $4.35                $34.8

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80